# Maven build output
target/
*.class

# Package files
*.jar
*.war
*.ear

# IntelliJ files
.idea/tasks.xml
.idea/workspace.xml

# Mac
.DS_Store

# Windows
Thumbs.db
Icon?

# Eclipse
.classpath
.project
.settings/

.vagrant

